
[class*="col-"] {
    min-height: 30px;
}


nav {
    height: 80px;
    line-height: 80px;
}
nav .logo, nav .list  {
    margin-top:10px;
}
nav ul a {
    color: black;
}
.signup  {
    color: #006aff;
    padding: 5px 10px;
    border: 1px solid #006aff;
    border-radius: 4px;
}

img {
    width: 100%;
}
.color-grey {
    color: grey;
}
h4 {
    color: #031B4E;
}


.jumbotron {
    position: relative;
    background-image: url('../img/bg-banner-home.jpg');
    background-size: contain;
    color: white;
    margin-bottom: 0;
}

.jumbotron .card {
    padding: 10px 50px;
    background-color: white;
    color: black;
    border-radius: 10px;
}
.jumbotron .title {
    padding: 10px 50px;
}

.btn-default {
    line-height: 100%;
    position: relative;
}
.google {
    position: absolute;
    display: inline-block;
    left: 2px;
    top: 50%;
    transform: translateY(-50%);
    height: 30px;
    z-index: 100;
}
.google img {
    width: 80%;
}

.customers {
    background-color: #F3F5F9;
    padding: 2rem;
}
.sponsors {
    align-items: baseline;
    padding: 1rem;
}
.sponsor {
    height: 80px;
    padding: 5px;
}

.deploy {
    padding: 2rem;
}
.deploy h2, .carousel h2, .features h2 {
    color: #031B4E;
}
.deploy p, .carousel p {
    font-size: 2rem;
    color: #4A5C81;
}
.deploy ul {
    border-left: 2px solid lightgrey;
    margin-top: 3rem;
}
.deploy li {
    padding: 1rem;
    color: #4A5C81;
}

.assets {
    text-align: center;
}
.asset {
    display: inline-block;
    width: 40%;
    margin-top: 3rem;
    padding: 2rem;
    text-align:left
}
.asset img {
    width: 20%;
}
.asset p {
    font-size: 1.5rem;
}

.carousel {
    background-color: #F3F5F9;
    padding: 4rem 0;
}

.slide-wrapper {
    margin-top: 4rem;
}
.slide img{
    height: 400px;
}
.chevron {
    font-size: 4rem;
    line-height: 400px;
    text-align: center;
}
.carousel h6 {
    color: #031B4E;
}

.loading {
    width: 100%;
    text-align: center;
}
.circle {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: 1px solid #006aff;
}
.full {
    background-color: #006aff;
}

.features {
    padding: 4rem 0;
}
.feature {
    padding-top: 3rem;
}
.feature img {
    width: 10%;
}
.feature p {
    color: #4A5C81;
}


.service {
    padding: 4rem 0;
    background: linear-gradient(90deg, rgba(8,1,133,1) 4%, rgba(18,67,122,1) 35%, rgba(20,20,153,1) 99%);
}
.service h2 {
    color: white;
}
table {
    width: 40%;
}
.table {
    color: white;
}
.table tr {
    border-color: white;
}
.dev-carousel {
    background-color: #F3F5FA;
    padding: 4rem 0;
}
.quote {
    background-color: white;
    padding: 
}
.quote img {
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 5rem 2rem;
}
.chevron-quote {
    height: 270px;
    line-height: 270px;
    font-size: 5rem;
    text-align: center;
}
.dev-carousel .loading {
    padding-top: 2rem;
}

.getstarted {
    padding: 4rem 0;
    background-color: #0236AF;
    color: white;
}

footer {
    background-color: #031D4F;
    color: lightgrey;
    padding: 4rem 0;
}
footer h4 {
    color: white;
}
footer img {
    width: 10%;
    padding: 1rem 0;
}
footer .socials i {
    font-size: 2rem;
}

.shark {
    position: fixed;
    bottom: 20px;
    right: 0;
}
.shark img {
    width: 5%;
}

@media screen and (max-width: 1200px) {
   header h1 {
       font-size: 2rem;
   }
}
@media screen and (max-width: 760px) {
    .sponsor {
        padding: 2rem;
    }
    .asset {
        display: block;
        width: 100%;
    }
    .chevron, .chevron-quote {
        display: none;
    }
    .carousel h6 {
        display: none;
    }
    .carousel .loading {
        padding-top: 3rem;
    }
}